body{
    background-color: rgba(137, 43, 226, 0.608);
    font-family: 'Cherry Bomb One', cursive;
font-family: 'Titillium Web', sans-serif;
}
.grid-container {
  display: grid;
  width: 500px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #1066e8;
  padding: 10px;
  margin: auto;
}
.grid-item { 
  background-color: rgba(12, 207, 237, 0.942);
  height: 100px;
  border: 8px solid rgba(0, 85, 255, 0.907);
  padding: 20px;
  font-size: 30px;
  display: flex; justify-content: center;
  align-items: center;
}
h1{
    color: blue;
    text-align: center;
    font-size: 60px;

}
button{
    display: flex;justify-items: left;
    color: blue;
}
h3{
    color: blue;
}